@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

:root,
:root[data-theme='dark'] {
    --primary-color: #ffedc8;

    --primary-bg-color: #2c263f;
    --secondary-bg-color: #595082;
    --border-color: #f8c662;

    --title-color: #a7ffbd;
    --text-color: #ffedc8;
    --link-color: #595082;
    --icon-color: #f8c662;
}

:root[data-theme='light'] {
    --primary-color: #2c263f;

    --primary-bg-color: #faf8ff;
    --secondary-bg-color: #dbd3ff;
    --border-color: #213722;

    --title-color: #2c263f;
    --text-color: #2c263f;
    --link-color: #213722;
    --icon-color: #d68f00;
}

html[data-theme='dark'] .technologies__logo {
    filter: invert(80%);
}