@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

:root {
    --primary-color: #f5f9f8;

    --primary-bg-color: #252330;
    --secondary-bg-color: #3b3a4a;
    --border-color: #575669;

    --title-color: #595168;
    --text-color: #f5f9f8;
    --link-color: #595168;
    --icon-color: #a1a2ab;
}