@import url("global.css");

body {
    background-color: var(--primary-bg-color);
    font-family: 'Orbitron', sans-serif;    

}

a {
      text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column; /*empilha icon e texto*/
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text {
    color: var(--text-color);
    font-weight: 600;
}

.menu__icon, .menu__text{
    color: var(--icon-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .menu--mobile {
        display: none;
    }
}